<h2 align="center">
	Title : <%= @article.title %>
</h2>
<div class="well col-xs-8 col-xs-offset-2">
	<h4 class=" description" align="center"><strong>Description</strong></h4>
	<hr> <%= simple_format(@article.description) %>
	
	<br>
	<div class="article-actions">
		<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary btn-xs" %>	|	
		<%= link_to "Delete", article_path(@article), method: :delete, 
			data: { confirm: "Are you sure want to delete the article?"}, class: "btn btn-danger btn-xs"  %>	|	 <%= link_to "View all articles", articles_path, class: "btn btn-success btn-xs" %>
	</div>
</div>
